<ion-view view-title="Menu">
  <ion-content class="padding">
    <ion-list ng-model="menu-items">
      <ion-item id="0" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/menu/:spots">
        <img src="img/graff-crop.png"/>
        <h2>Spots</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item id="1" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/menu/:routes">
        <img src="img/route-crop.png"/>
        <h2>Routes</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item id="2" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/menu/:flicks">
        <img src="img/flicks.png"/>
        <h2>Flicks</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item id="3" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/menu/:supplies">
        <img src="img/cans.png"/>
        <h2>Re-ups</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item id="4" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/menu/:shared">
        <img src="img/route-crop.png"/>
        <h2>Shared</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
